@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    max-width: 1440px;
    background-color: black;
   }
.btt{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size:1.75rem ;
font-weight: 900;

}
.tg{
  color: greenyellow;
font-family: Inter;
font-size:1.75rem ;
font-weight: 900;
}
.bt{
  color: green;
font-family: Inter;
font-size:1.75rem ;
font-weight: 900;
}
.nt{
  color: white;
  font-family: Inter;
  font-size:1.75rem ;
  font-weight: 900;
}

.fit-tex {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
}
.calc{
  text-align: center;
}
.get-body {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.874rem;
    font-weight: 900;
}

.ct {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.ctt{
  color:white;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.ct1{
  color:skyblue;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.pbut {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin-right: 20px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
.pxbut{
  color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin-right: 20px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.pybut{
  color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    margin-right: 20px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
.pxbut{
  display: none;
}
.sbut {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: black;
    cursor: pointer;
}

.nlt {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
}

.h {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    padding: 10px;
}

.shape {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 4.874rem;
}

nav {
    max-width: 1060px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.banner-con {
    max-width: 520px;
    margin: 0 auto;
    border: 2px solid orange;
}

.banner-img>.img {
    width: 100%;
    height: 100%;
}

.banner-img {
    max-width: 349px;
    max-height: 580px;
    border: 2px solid orange;
}
.hc{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5rem;
font-weight: 900;

}
.three{
  color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;

}
.upt{
  color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: .8rem;
font-weight: 400;

}

.banner {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.up {
   
    width: 193px;
    
    border: 2px solid orange;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    /* margin-top: -480px;
    margin-left: 200px; */
    transform: translate(200px,-480px);
  padding: 15px;
  text-align: center;
}
.down{
  display: flex;
  align-items: center;
  
 width: 193px;
    border: 2px solid orange;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
   /* margin-top: 200px;
   margin-left: -100px; */
   transform: translate(-120px,-350px);
  padding: 15px;
  text-align: center;
 gap: 20px;

}
.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}

.f1{
  text-align: center;
  max-width: 1060px;
  margin: 30px auto;
  border: 2px solid orange;
 
}
.f1h4{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;

}
.card-main{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 20px;
  align-items: center;
 
  
}
.card>img{
  border-radius: 50%;
  filter: brightness(110%);
}
.card{
  margin-top: 20px;
}
.f2{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
 
  border: 2px solid orange;
  padding: 30px 30px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;

background: rgb(34, 34, 34);
}
.bar{
  display: none;
}
.f2c{
  max-width: 443px;
}
.f2i{
  width: 366px;
}
.f2i>img{
  width: 100%;
}
.table{
  border-collapse: collapse;
}
td,th{
  border: 1px solid black;
  padding: 10px;
}
caption{
  margin-bottom: 20px;
}
.main-part{
  display: flex;
  max-width: 1440px;
  text-align: center;
  justify-content: space-evenly;
  border: 2px solid orange;
}
.calc-chart{
  width: 310px;
  margin: 30px auto;
  border: 2px solid orange;
  padding-top: 30px;
}
.calc-bmi{
  max-width: 577px;
  margin: 30px auto;
  border: 2px solid orange;
  text-align: start;
}
.calc-bmi>input{
 width: 260px;
 height: 30px;
 gap: 20px;
 padding: 5px 10px;
 margin-bottom: 10px;
 border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
border-style: none;
}
.calc-bmi>textarea{
  width: 95%;
  
  padding: 20px 10px;
  border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
border-style: none;
}
.f4{
  max-width: 1060px;
  margin: 20px auto;
  border: 2px solid orange;
}
.mot{
  width: 671px;
  margin: 10px auto;
  text-align: center;
}
.mot-main{
  display: grid;
  grid-template-columns: repeat(3,1fr);

  border: 2px solid orange;
  border-radius: 18px;

background: rgba(255, 255, 255, 0.1);
 
}
.mot-card{
  width: 326px;
  height: 272px;
  position: relative;
  border: 2px solid orange;
  border-radius: 20px;
  margin: 10px;

}
.mot-main>.mot-card>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.com{
  position: absolute;
  transform: translate(30px ,-80px);

}
.ness{
  color: rgb(230, 83, 60);
font-family: Inter;
font-size:4.375rem;
font-weight: 800;

}
hr{
  width: 1060px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
footer{
  background: rgba(255, 255, 255, 0.1);
}
.foot{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}
.fc{
  max-width: 443px;
}
.fd{
  text-align: center;
}
.f5{
  background-image: url('../images/exercise4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
height: 600px;
border: 2px solid orange;
display: flex;
justify-content: space-around;
align-items: center;
}
.f52{
  display: flex;
  transform: translate(150px,200px);
  justify-content: space-between;
  gap: 20PX;
}
.t1,.t2{
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}
@media screen and (max-width:576px) {
  .bar{
    display: block;
    justify-content: space-evenly;
  }
  .bar i{
    font-size: 2.5rem;
    color: white;
  }
  .nav-right{
    display: none;
  }
  .banner,.f2{
    flex-direction: column;
    gap: 30px;
   
  }
  .pxbut{
    display: inline;
    
  }
  
  .pybut{
    width: 80%;
    margin-left: 40px;
   
  }
   nav{
    align-items: center;
  }
  .pbut{
    display: none;
  }
  .but{
    margin-left: 20px;
  }
  .get-body,.shape{
    font-size: 2.25rem;
  }
  .banner-img>.img{
    width: 100%;
    justify-items: center;
  
  }
  .banner-img{
   margin-left: 10px;
  }
  .up{
    width:155px;
    height: 72px;
    transform: translate(190px,-550px);
  }
  .sbut{
    padding: 15px;
  }
  body{
    margin-left: 10px;
  }
  .down{
    height: 72px;
    width: 155px;
    transform: translate(-10px,-460px);
  }
  .card-main{
    grid-template-columns: 1fr;
  }
  .main-part{
    flex-direction: column;
  }
  .mot-main{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .mot{
  width: 100%;
  }
  .foot{
    flex-direction: column;
  }
  .calc-bmi>input{
  width:95%;
  }
  /* .mot-main>.mot-card>img{
    width: 100%;
 
  } */
  .f2i>img{
    width: 97%;
  }
  .f5{
   background-image:url('../images/exercise4.png') ;
   flex-direction: column;
  }
  .f52{
    flex-direction: column;
    transform: translate(0px,0px);
  }
  
}
